#brick_main {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}
canvas {
  border-radius: 5px;
  /* background: #eee; */
  border: 1px solid #c7ecee;
  display: block;
  margin: 0 auto;
  margin-bottom: 100px;
}

.back_button {
  text-align: center;
}

.back_button > input {
  background-color: transparent;
  border: 1px solid #c7ecee;
  color: white;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Gamja Flower", cursive;
}
